<h1>Daily Quotes</h1>

<p>This component demonstrates fetching data from the API.</p>
<p (keydown)="keyDownFunction($event)">
  <input type="text" class="form-control" id="ticker" 
  name="ticker" [(ngModel)]="ticker">
</p>
<p *ngIf="initSearch"><em>Loading...</em></p>

<table class='table' *ngIf="quotes">
  <thead>
    <tr>
      <th>Close Price</th>
      <th>Open Price</th>
      <th>High Price</th>
      <th>Low Price</th>
      <th>Date</th>
      <th>Volume</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let quote of quotes">
      <td>{{ quote.metaData.symbol }}</td>
      <td>{{ quote.close }}</td>
      <td>{{ quote.open }}</td>
      <td>{{ quote.high }}</td>
      <td>{{ quote.low }}</td>
      <td>{{ quote.dateStamp }}</td>
      <td>{{ quote.volume }}</td>
    </tr>
  </tbody>
</table>